PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=172.22.10.3,10.48.0.245,192.168.1.245
ServerActive=10.48.0.245
Hostname=virtcent
ListenPort=10050
ListenIP=0.0.0.0





